body {
        
	background-color: blue;
        
	border: 100px groove brown;
        
	text-align: center;
        
	color: white;
  
}
  
body p {
         
	font-family: Arial;
         
	font-size: 1em;
         
	text-align: center;
  
}
  
#footer {
          
	text-align: center;
          
	font-size: 14px;
          
	color: black;
          
	background-color: orange;
          
	height: 5%;
          
	font-fanily: serif;
          
	width: 100%;
          
	position: relative;
          
	line-height: 1.7;     
    
}
  