body {
        
	background-color: blue;
        
	border: 75px groove brown;
        
	text-align: center;
        
	color: white;
  
}
  
body p {
         
	font-family: Arial;
         
	font-size: 1em;
         
	text-align: center;
	
	background-color: white;
	
	color: rgb(50, 75, 255);
	
	width: 50%;
	
	padding: 5px;
	
	margin: auto;
}
  
#footer {
          
	text-align: center;
          
	font-size: 18px;
          
	color: black;
          
	background-color: brown;
          
	height: 5%;
          
	font-family: Proxima Sans Nova;
          
	width: 100%;
          
	position: relative;
          
	line-height: 1.7;     
    
}
  
